/* Footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1.5px;
  width: 100%;
  padding: 0 1rem;
}

.footer-left p, .footer-right p {
  position: relative;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.footer-left p:hover, .footer-right p:hover {
  color: rgba(255, 255, 255, 0.8);
} 